<p class="page-title page-title-fix-home">trackers/discord/<%=build.name%></p>
<%- include(`../../../components/wip-feature`) %>
<div>
  <div class="blog-return-container">
    <a class="blog-return" href="/trackers/discord">
      &lt; Return to builds
    </a>
  </div>

  <div class="blog-div">
    <div class="make-bold-tag-fancy-pls blog-top">
      <h1><b><%=build.title%></b></h1>
      <div class="description-and-date">
        <i class="blog-description"><%=build.description%></b></i>

        <p class="blog-description">Found on <%=build.date%></p>
      </div>
      <div class="blog-separator"></div>
    </div>
  </div>
</div>