<p class="page-title">trackers/discord/builds</p>
<%- include(`../../../components/wip-feature`) %>

<div class="center-div vertical-center-thing topbar-margin build-list-gap">
  <div class="page-list generic-background menhera-outline">
    <h2>Latest builds</h2>
    <div class="build-list">

      <a class="make-bold-tag-fancy-pls blog-top build-list-build menhera-outline" href=/trackers/discord/meow>
        <div class="build-indicators">
          <div class="tooltip build-indicator build-indicator-canary">
            <span class="tooltiptext">This is the latest canary build</span>
          </div>
        </div>
        <div class="build-info">
          <h3><b>meow</h3></b>
          <p class=" blog-description">Saved on meow</p>
        </div>
      </a>

      <a class="make-bold-tag-fancy-pls blog-top build-list-build menhera-outline" href=/trackers/discord/meow>
        <div class="build-indicators">
          <div class="tooltip build-indicator build-indicator-stable">
            <span class="tooltiptext">This is the latest stable build</span>
          </div>

        </div>
        <div class="build-info">
          <h3><b>meow</h3></b>
          <p class=" blog-description">Saved on meow</p>
        </div>
      </a>
    </div>

    <h3>All builds</h3>

    <div class="build-list">
      <% builds.forEach((build)=>{ %>

      <a class="make-bold-tag-fancy-pls blog-top build-list-build menhera-outline" href=/trackers/discord/<%=build.build_hash%>>
        <div class="build-indicators">
          <!-- <div data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="This is a <%=build.branches[0]%> build" class="build-indicator build-indicator-<%=build.branches[0]%>"></div> -->
          <div data-toggle="tooltip" data-placement="top" title="This is a <%=build.branches[0]%> build" class="build-indicator build-indicator-<%=build.branches[0]%>">
          </div>
        </div>

        <div class="build-info">
          <h3><b>Build <%= build.build_number %></h3></b>
          <p class=" blog-description">Saved on <%=build.date%></p>
        </div>
      </a>
      <% }) %>

    </div>
    <div class="paginator-controls">
      <button class="menhera-button" id="strings-button">Previous</button>
      <p>Page 1</p>
      <button class="menhera-button" id="strings-button">Next</button>
    </div>

  </div>
</div>